version: "3.8"

services:
  web:
    build: .
    # container_name: vite-react-app??
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    working_dir: /app
    command: npm run dev -- --host